@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-decoration: none;
}

:root {
    --bg-main-color: black;
    --bg-second-color: #d3b766ff;
    --text-main-color: white;
    --text-second-color: #f1c232;
    --text-third-color: #ff5733;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    background-position-x: center;
    background-position-y: top;
    background-size: 105vmax;
    background-image: url("assets/dark-pattern-bg.jpeg");
}

.card-container {
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.card {
    width: 60%;
    height: 70%;
    border: solid 1px var(--bg-main-color);
    background-color: var(--bg-main-color);
    box-shadow: 0 0 .4rem var(--bg-main-color);
    overflow: hidden;

    position: relative;
}

.card .front,
.card .back {
    display: grid;
    grid-template-columns: 1.1fr .9fr;

    position: absolute;
}

.back {
    width: 100%;
    height: 100%;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s ease;
    pointer-events: all;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease;
    pointer-events: none;
}

.front .left-side {
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* HEADER */

.header {
    grid-row: 1 / 2;

    display: block;
    padding: 3rem 0 0 4rem;
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: var(--bg-main-color);
}

.header h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: var(--text-main-color);
}

.header h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    color: var(--text-second-color);
    font-family: "El Messiri", "Montserrat", sans-serif;
}

/* DESCRIPTION */

.description {
    grid-row: 2 / 3;

    padding: 1rem 2rem 3rem 3rem;
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: var(--bg-second-color);
}

.description p {
    font-size: 1.05rem;
    font-weight: 400;
}

/* FRONT RIGHT SIDE */

.front .right-side {
    grid-column: 2 / 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
    height: 100%;
    border-left: solid 1px var(--bg-second-color);
    background-color: var(--bg-main-color);
}

.front .right-side .initials {
    width: 43%;
    height: auto;
    pointer-events: none;
    user-select: none;
}

.social-media {
    display: grid;
    grid-template-rows: .5fr .5fr .5fr;
    margin-top: 3rem;
}

.social-media i {
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    background: transparent;
    font-size: 2.5rem;
    color: var(--text-main-color);
}

.social-media a {
    margin: .6rem 0 0 -.5rem;
    height: 1rem;
    font-size: 1rem;
    color: var(--text-main-color);
}

.social-media a:hover {
    color: var(--text-third-color);
    text-decoration: underline;
}

.social-media .container {
    display: flex;
}

.flip-button-front {
    display: flex;
    margin-top: 1rem;
    width: 50%;
    height: 10%;
    border-radius: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: var(--text-third-color);
    color: var(--text-main-color);
    transition: .3s;
    cursor: pointer;
}

.flip-button-front:hover {
    box-shadow: 0 0 .7rem var(--text-third-color);
}

/* BACK LEFT SIDE */

.back .left-side {
    grid-column: 1 / 2;

    width: 100%;
    height: 100%;
    background-color: var(--bg-second-color);
}

/* BACK RIGHT SIDE */

.back .right-side {
    grid-column: 2 / 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
    height: 100%;
    border-left: solid 1px var(--bg-second-color);
    background-color: var(--bg-main-color);
}

.projects-contents {
    display: grid;
}

.projects-contents h2 {
    color: var(--text-main-color);
}

.see-github p {
    font-size: 1rem;
    color: var(--text-main-color);
}

.see-github i {
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    background: transparent;
    font-size: 2.5rem;
    color: var(--text-main-color);
}

.see-github a {
    margin: .6rem 0 0 -.5rem;
    height: 1rem;
    font-size: 1rem;
    color: var(--text-main-color);
}

.see-github a:hover {
    color: var(--text-third-color);
    text-decoration: underline;
}

.see-github .container {
    display: flex;
}

.flip-button-back {
    display: flex;
    margin-top: 1rem;
    width: 50%;
    height: 10%;
    border-radius: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: var(--text-third-color);
    color: var(--text-main-color);
    transition: .3s;
    cursor: pointer;
}

.flip-button-back:hover {
    box-shadow: 0 0 .7rem var(--text-third-color);
}